.weui-tabbar__trade{    
    flex: 4;
    display: flex;
    text-align: center;
    transform: translate3d(0,0,0);       
    
}


.weui-tabbar__buy, .weui-tabbar__cart {
    flex: 1;
    display: block;
    font-size: 15px;
    line-height: 50px;
    color: #fff;
}

.weui-tabbar__cart {       
    background-color: #FF9500;
}

.weui-tabbar__buy {    
    background-color: #FF0036;
}
